<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
{% if user.is_authenticated %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
Logged in as {{ user.username }}
<a class="navbar-brand" href = "{% url 'createtodo' %}">create</a>
<a class="navbar-brand" href = "{% url 'currenttodos' %}">current</a>
<a class="navbar-brand" href = "{% url 'completedtodos' %}">completed</a>

<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" type="submit">Logout</button>
</form>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="{% url 'signupuser' %}">Signup</a>
<a class="navbar-brand" href="{% url 'loginuser' %}">Login</a>
{% endif %}
</nav>
{% block content %}
{% endblock %}
</body>